/***********************Import des fonts**********************/












/*************************Reset CSS************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}










/************************Partie MOBILE***************0 à 767px*/












/************************Partie TABLET***************767 à 991px*/

@media screen and (min-width : 767px){




}
/************************Partie Ordi***************991px et plus*/

@media screen and (min-width : 991px){






}